<a href="https://colab.research.google.com/github/vishnudatt18/PYTHON-ASSIGNMENT/blob/main/Functions_%26_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Topic 1 — Functions (def) & Lambda Functions
# Part A — Basic Function Concepts (Single Return Values)
# 1.	Write a function wish(name) that returns "Hello, Good Morning <name>!".

def wish(n):
    print(f"Hello, Good Morning {n}!")
wish('vaasu')

Hello, Good Morning vaasu!

In [ ]:
# 2.	Write a function cube(n) that returns the cube of a number (n³).
def cube(n):
    return n**3
cube(3)

27

In [ ]:
# 3.	Write a function check_even(n) that returns True if the number is even, else False.
def check_even(n):
    if n%2==0:
        return True
    else:
        return False
check_even(3)

False

In [ ]:
# 4.	Write a function greatest_of_two(a, b) that returns the larger of two numbers.
def greatest_of_two(a,b):
    if a>b:
        return a
    else:
        return b
greatest_of_two(3,4)

4

In [ ]:
# 5.	Write a function count_letters(s) that returns the number of characters in a string.
def count_letters(s):
    return len(s)
count_letters('vaasu')

5

In [ ]:
# 6.	Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)
def power(value, exp=2):
    return value**exp
power(5)

25

In [ ]:
# Part B — Returning Multiple Values
# 7.	Write a function swap(a, b) that returns the two values swapped as a tuple.
def swap(a,b):
    return b,a
swap(1,2)

(2, 1)

In [ ]:
# 8.	Write a function add_sub(a, b) that returns both sum and difference of two numbers.
def add_sub(a,b):
    return a+b,a-b
add_sub(1,2)

(3, -1)

In [ ]:
# 9.	Write a function circle_stats(radius) that returns the area and circumference as a tuple.
import math
def circle_stats(radius):
    return math.pi*radius**2,2*math.pi*radius
circle_stats(2)

(12.566370614359172, 12.566370614359172)

In [ ]:
# 10.	Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.
def min_max_sum(nums):
    return min(nums),max(nums),sum(nums)
min_max_sum([1,2,3])

(1, 3, 6)

In [ ]:
#  Part C — Working with Strings & Formatting
# 11.	Write a function concat(*parts) that joins multiple strings together with spaces.
def concat(*parts):
    return ' '.join(parts)
concat('vaasu','is','a','mystic','boy')

'vaasu is a mystic boy'

In [ ]:
# 12.	Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".
def format_name(first, last=""):
      return last + ", " + first if last else first
format_name("Vaasu", last='dutt')

'dutt, Vaasu'

In [ ]:
# 13.	Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".
def greet_user(first, last):
    return f"Welcome, {first} {last}!"
greet_user("Vaasu","Dutt")

'Welcome, Vaasu Dutt!'

In [ ]:
# Part D — Lambda Functions
# 14.	Write a lambda function to add two numbers.
x = lambda a,b: a+b
add = x(5,6)
print(add)

11

In [ ]:
# 15.	Write a lambda function mult = lambda *args: that returns the product of all arguments.
from functools import reduce

mult = lambda *args: reduce(lambda x, y: x * y, args)

mult(1,2,3)

6

In [ ]:
# 16.   Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].
pp = lambda x: [j for i in x for j in i]
pp([('a', 'b'), ('c', 'd')])

['a', 'b', 'c', 'd']

In [ ]:
# Part E — Recursive, Higher-Order & Inner Functions
# 17.	Write a recursive function factorial(n) that returns the factorial of a number.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [ ]:
# 18.	Write a function apply_twice(func, x) that applies a function twice → func(func(x)).
def apply_twice(func, x):
    return func(func(x))
apply_twice(lambda x: x**2, 3)

81

In [ ]:
# 19.	Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
    def inner():
        print("This is an inner function")
    inner()
inner_demo()

This is an inner function

In [ ]:
# 20.	Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func, value):
    return func(value)
call_function(lambda x: x**2, 3)

9

In [ ]:
# 21.	Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
    def square(x):
        return x**2
    return [square(num) for num in nums]
square_list([1,2,3])

[1, 4, 9]

In [ ]:
# Part F — Intermediate Function Concepts
# 22.	Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def make_multiplier(m):
    return lambda x: x * m
multiplier = make_multiplier(3)
multiplier(10)

30

In [ ]:
# 23.	Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
is_prime(5)

True

In [ ]:
# 24.	Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.
# Formula: F = C * 9/5 + 32
def convert_to_fahrenheit(celsius_list):
    return list(map(lambda x: x * 9/5 + 32, celsius_list))
convert_to_fahrenheit([0, 10, 20, 30])

[32.0, 50.0, 68.0, 86.0]

In [ ]:
# 25.	Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate, iterable):
    return [func(item) for item in iterable if predicate(item)]

In [ ]:
# 27.	Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args, **kwargs):
    total = sum(args)
    scale = kwargs.get('scale', 1)
    return total * scale
variadic_sum(1, 2, 3, scale=2)

12

In [ ]:
# 28.	Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
    return sorted(strings, key=lambda x: len(x))
sort_by_length(['apple', 'banana', 'cherrys'])

['apple', 'banana', 'cherrys']

In [ ]:
# Topic 2 — List Comprehensions
# Part A — Basic Comprehension Practice
# 29.   Create [1,2,3,4] → list of their squares.
[x**2 for x in [1,2,3,4]]

[1, 4, 9, 16]

In [ ]:
# 30.   Create ['a','b','c'] → list of their uppercase versions.
[x.upper() for x in ['a','b','c']]

['A', 'B', 'C']

In [ ]:
# 31.	Make a list of even numbers from 1 to 20.
[x for x in range(1,21) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 32.	Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
words = ['apple', 'bee', 'cat']
[(word, len(word)) for word in words]

[('apple', 5), ('bee', 3), ('cat', 3)]

In [ ]:
# 33.	Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
x = [[1,2], [3,4], [5]]
[j for i in x for j in i]

[1, 2, 3, 4, 5]

In [ ]:
# 34.	From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums = [0, 1, 2, 3]
result = ["even" if n % 2 == 0 else "odd" for n in nums]
print(result)

['even', 'odd', 'even', 'odd']

In [ ]:
# 35.	Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
prime_flags = [is_prime(n) for n in nums]
print(prime_flags)

[False, False, True, True, False, True, False, True, False, False, False]

In [ ]:
# 36.	From range(1,50), select numbers divisible by both 2 and 3.
[i for i in range(1,51) if (i % 2 == 0 and i%3 == 0)]

[6, 12, 18, 24, 30, 36, 42, 48]

In [4]:
# 37.   Create coordinate pairs (i, j) where i and j go from 0 to 2.
coords = [(i, j) for i in range(3) for j in range(3)]
print(coords)

for row in coords:
    print(row)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]
(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)

Explanation:

The first for i in range(3) → loops i over [0, 1, 2]

The second for j in range(3) → loops j over [0, 1, 2] for each i

Each pair (i, j) is added to the list → giving all coordinate combinations.

In [ ]:
# 38.	From ['a b','c d e'], produce a flat list of all words.
words = ['a b', 'c d e']
flat_list = [j for i in words for j in i.split()]
print(flat_list)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Part B — Using Lists of Dictionaries
# 39.	Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
students = [{'name':'A','score':80}, {'name':'B','score':60}]
[student['name'] for student in students if student['score'] >= 75]

['A']

In [ ]:
# 40.	Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
[{ 'n': n, 'square': n*n} for n in range(1, 11)]

[{'n': 1, 'square': 1},
 {'n': 2, 'square': 4},
 {'n': 3, 'square': 9},
 {'n': 4, 'square': 16},
 {'n': 5, 'square': 25},
 {'n': 6, 'square': 36},
 {'n': 7, 'square': 49},
 {'n': 8, 'square': 64},
 {'n': 9, 'square': 81},
 {'n': 10, 'square': 100}]

In [ ]:
# 41.	Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
result = [(list1[i], list2[i]) for i in range(min(len(list1), len(list2))) if list1[i] and list2[i]]
print(result)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
# 42.	Create a comprehension to transpose a matrix (swap rows ↔ columns).
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# PyPart C — Advanced Comprehensions
# 43.	Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
nested_list = [[[1,2],[3]],[[4]]]

[k for i in nested_list for j in i for k in j]

[1, 2, 3, 4]

In [ ]:
# 44.	Write a comprehension that keeps only unique items from a list while preserving order.

data = [1, 2, 2, 3, 1, 4, 3]
unique = []
result = [x for x in data if not (x in unique or unique.append(x))]
print(result)

[1, 2, 3, 4]

**Explanation:**

unique = [] → keeps track of seen elements.

x in unique → checks if the element has appeared before.

unique.append(x) → adds the element if it’s new.

The trick if not (x in unique or unique.append(x)):

Checks both conditions in one line.

If x is not in unique, it adds it and includes it in result.

If it’s already seen, it skips it.

In [ ]:
# 45.	Find all indices (positions) where a given number appears in a list.
def find_indices(lst, target):
    return [i for i, x in enumerate(lst) if x == target]
find_indices([1, 2, 3, 2, 4, 2], 2)

[1, 3, 5]

In [ ]:
# 46.	Generate all palindromic numbers (as strings) between 1 and 999.

def is_palindrome(num):
    return str(num) == str(num)[::-1]

palindromes = [num for num in range(1, 1000) if is_palindrome(num)]

# Print all numbers in one line, separated by space
print(*palindromes)

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
# 47.	Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
data = {'a': [1, 2], 'b': [3]}
result = [(key, value) for key, value in data.items()]
print(result)

[('a', [1, 2]), ('b', [3])]

In [ ]:
# 48.	Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

prime_pairs = [(p, q) for p in range(2, 100) if is_prime(p) for q in range(2, 100) if is_prime(q) and is_prime(p + q)]
print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71), (3, 2), (5, 2), (11, 2), (17, 2), (29, 2), (41, 2), (59, 2), (71, 2)]

In [ ]:
# 49.	Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
n = 4  # example size
lower_triangular = [[1 if j <= i else 0 for j in range(n)] for i in range(n)]

for row in lower_triangular:
    print(row)

[1, 0, 0, 0]
[1, 1, 0, 0]
[1, 1, 1, 0]
[1, 1, 1, 1]

In [ ]:
# 50.	Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
from itertools import permutations

result = [''.join(seq) for seq in permutations('abcd', 4) if len(set(seq)) == 4]
print(result)
len(result)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']

24